extends layouts/main-layout.pug

block styles
    link(rel='stylesheet' href='/form.css')

block content
    main
        form.recipe-form(action='/recipe/edit' method='POST')
            input.hidden(type='text' name='id' value=`${recipe.id}`)
            .recipe-form-control
                label(for='title') Title:
                input#title(type='text' name='title' value=`${recipe.title}`)
            .recipe-form-control
                label(for='details') Recipe Details:
                textarea#details(rows='4' cols='10' name='details') #{recipe.details}
            .btn-wrapper
                button.btn.primary(type='submit') Save
